@import './styles/variable.scss';

.cardMainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
    // width: 75%;
    // background-color: cadetblue;
    margin-left: 90px;

}

.containerStyle{
    padding: 10px 30px 10px 30px;
    background-color: $white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    width: 400px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

.cardImageStyle{
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    
    
}

// .cardDetails{
//     // margin-left: 20px;
// }

.cardTitle{
    height: 20px;
    overflow: hidden;
    margin: 0px;
    font-size: 16px;
    // padding: 10px 100px 50px 0px;

}

.cardContent{
    font-family: 'roboto' sans-serif;
    font-size: 12px;
    line-height: 1.6;
    text-align: justify;
    color: $text;
    height: 55px;
    overflow: hidden;
    margin: 0px;
    
}

.buttonReadStyle2{
    width: 100px;
    height: 40px;
    color: $white;
    background-color: $primary;
    border: $primary;
    border-radius: 10px;
    padding: 10px;
    font-size: 13px;
    font-family: 'roboto' sans-serif ;
    font-weight: 100;
    margin-top: 10px;
}


